@font-face {
    font-family: 'blur';
    src: url('../fonts/bleedingwatercolor.ttf');
}

@font-face {
    font-family: 'blur2';
    src: url('../fonts/Blur.ttf');
}

@font-face {
    font-family: 'blur3';
    src: url('../fonts/Gaussian\ Blur.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    color: rgb(226, 226, 226);
}

ul,
ol {
    list-style: none;
}

hr {
    margin: 10px 20px;
    display: flex;
    align-self: center;
}

img {
    width: 100%;
}

/*====================INDEX=====================*/

/*********************HEADER*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover {
    width: 150px;
    border: solid 2px rgb(145, 145, 145);
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    overflow: hidden;
    margin-top: 10px;
}

h1 {
    display: flex;
    justify-content: center;
    width: 250px;
    border: solid 2px rgb(145, 145, 145);
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    font-family: 'blur3', sans-serif;
}

h2 {
    font-size: 1.3rem;
    border-top: 3px solid rgb(161, 161, 161);
    border-bottom: 3px solid rgb(161, 161, 161);
    margin: 10px;
    font-family: 'blur2', sans-serif;
}

header ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*+++++++++++++MENU*/

#menu {
    z-index: 2;
    background: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menu-bar {
    width: 45px;
    height: 45px;
    cursor: pointer;
    border: 3px solid rgb(224, 224, 224);
    border-radius: 10px;
    padding: 5px;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: rgb(224, 224, 224);
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.nav {
    display: none;
}

.nav ul {
    padding: 0 22px;
}

.nav li {
    list-style: none;
    padding: 12px 0;
    font-family: 'blur3', sans-serif;
}

.nav li a:hover {
    font-weight: bold;
    background-color: rgba(104, 103, 103, 0.5);
    border-radius: 10px;
    padding: 5px;
}

.change {
    display: block;
}

.change .bar {
    background-color: rgb(224, 224, 224);
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}
@media (min-width:420px) and (max-width:1024px){
    
    #menu{
        width: auto;
    }
    #menu-bar{
        display:none;
    }
    .nav{
        display: inline;
    }
    .nav ul{
        display: flex;
        flex-direction: row;
        gap: 5px;
    }
    ul li a{
        border: 2px solid rgb(145, 145, 145);
        border-radius: 10px;
        padding: 5px;
    }
}

@media (min-width:1024px) /*and (max-width:1200px)*/{
    header {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .cover{
        border-bottom-left-radius: 80px;
        border-top-right-radius: 80px;
        border-bottom-right-radius: 0px;
    }
    h1{
        border-bottom-left-radius: 0px;
        border-top-right-radius: 80px;
        border-bottom-right-radius: 80px;
    }
    #menu{
        width: auto;
    }
    #menu-bar{
        display:none;
    }
    .nav{
        display: inline;
    }
    .nav ul{
        display: flex;
        flex-direction: row;
        gap: 5px;
    }
    ul li a{
        border: 2px solid rgb(145, 145, 145);
        border-radius: 10px;
        padding: 5px;
    }
}

/*********************MAIN*/

.cont-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-section {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 25px #868686;
}

h3 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 2rem;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'blur2', sans-serif;
}

h3:hover {
    background: none;
}

h3 a {
    border-radius: 50px;
    padding: 0 10px;
    background-color: #181818;
}

.img-media {
    background-image: url('../media/img/img7.jpg');
}

.img-next {
    background-image: url('../media/img/img6.jpg');
}

.img-prev {
    background-image: url('../media/img/img1.jpg');
}

.img-contact {
    background-image: url('../media/img/img8.jpg');
}

@media (min-width:420px) and (max-width:1024px){
    main{
        display: flex;
        justify-content: center;
    }
    .cont-section {
        width: 100%;
        max-width: 700px;
    }
}

@media (min-width:1024px) /*and (max-width:1200px)*/{
    main{        
        display: flex;
        justify-content: center;
    }
    .cont-section {
        width: 1000px;
        flex-direction:row;
    }
}

/*********************FOOTER*/

footer {
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4 {
    margin-bottom: 20px;
    font-family: 'blur3';
}

.redes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.redes a {
    text-decoration: none;
}

footer hr {
    width: 80%;
}

@media (min-width:420px) {
    .redes{
        flex-direction: row;
        justify-content: space-around;
        align-items: start;
    }
}

/*====================IMAGENES=====================*/

.galeria {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 10px;
}

.img-gal {
    width: 100%;
    height: 7vh;
    border: 2px solid rgb(184, 180, 180);
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    overflow: hidden;
}

.img-gal:first-child {
    height: 40vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 150px;
}

.img-gal:hover {
    height: 40vh;
    background-size: cover;
}

.img-gal:hover a {
    display: inline;
}

.img-gal a {
    display: none;
    border: 2px solid rgb(184, 180, 180);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'blur3', sans-serif;
}

.img0 {
    background-image: url('../media/img/cover2.jpg');
}

.img1 {
    background-image: url('../media/img/img1.jpg');
}

.img2 {
    background-image: url('../media/img/img2.jpg');
}

.img3 {
    background-image: url('../media/img/img3.jpg');
}

.img4 {
    background-image: url('../media/img/img4.jpg');
}

.img5 {
    background-image: url('../media/img/img5.jpg');
}

.img6 {
    background-image: url('../media/img/img6.jpg');
}

.img7 {
    background-image: url('../media/img/img7.jpg');
}

.img8 {
    background-image: url('../media/img/img8.jpg');
}

.img9 {
    background-image: url('../media/img/img9.jpg');
}

@media (min-width:420px) and (max-width:1024px){
    .galeria{
        display: grid;
        grid-template-columns: repeat(10,1fr);
        grid-template-rows: repeat(10,1fr);
        height: 100vh;
    }
    .img-gal{
        height: 100%;
        background-size: cover;
        background-position: center;
    }
    .img-gal:hover{
        height: 100%;
        background-size: 200%;
        background-repeat: no-repeat;
    }
    .img0{
        grid-row: 7 / span 4;
        grid-column: 1 / span 6;
    }
    .img1{
        grid-row: 3 / span 4;
        grid-column: 1 / span 4;
    }
    .img2{
        grid-row: 9 / span 2;
        grid-column: span 4;
    }
    .img3{
        grid-row: 5 / span 4;
        grid-column: span 4;
    }
    .img4{
        grid-row: span 2;
        grid-column: 7 / span 4;
    }
    .img5{
        grid-row: 1 / span 2;
        grid-column: span 3;
    }
    .img6{
        grid-row: 1 / span 2;
        grid-column: span 3;
    }
    .img7{
        grid-row: span 2;
        grid-column: span 3;
    }
    .img8{
        grid-row: span 2;
        grid-column: span 3;
    }
    .img9{
        grid-row: span 2;
        grid-column: span 2;
    }
}

@media (min-width:1024px) /*and (max-width:1200px)*/{
    .galeria {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        max-width: 1000px;
    }
    .img0{
        grid-row-start: 4;
        grid-column: span 3;
    }
    .img-gal{
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50px;
    }
    .img-gal:hover{
        border-radius: 100%;
        background-size: 300%;
    }
    .img-gal:first-child{
        background-size: contain;
    }
}

/*====================VIDEOS=====================*/

.video {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

.vid {
    width: 70%;
    border: 6px double rgb(168, 168, 168);
    border-radius: 80px;
    margin: 5px 0;
}

.vid:hover {
    width: 100%;
    border-radius: 20px;
}

/*====================EVENTOS=====================*/

.banners {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banners h3 {
    border: 2px solid rgb(156, 156, 156);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 80%;
}

.banners a {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ban {
    width: 80%;
    height: 50vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px dotted rgb(156, 156, 156);
}

.ban-new {
    background-image: url('../media/img/ban-new.jpg');
    margin-bottom: 20px;
}

.ban-past5 {
    background-image: url('../media/img/ban5.jpg');
}

.ban-past4 {
    background-image: url('../media/img/ban4.jpg');
}

.ban-past3 {
    background-image: url('../media/img/ban3.jpg');
}

.ban-past2 {
    background-image: url('../media/img/ban2.jpg');
}

.ban-past1 {
    background-image: url('../media/img/ban1.jpg');
}

/*====================CONTACTO=====================*/

.contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contacto h3 {
    margin: 20px 0;
}

.contacto a {
    border: 2px solid rgb(184, 182, 182);
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 1.5rem;    
}
.contact-redes i{
    background-color: transparent;
}
.contacto-insta:hover{
    background-color: rgb(245, 96, 64);
}
.contacto-wsp:hover{
    background-color: rgb(9, 218, 44);
}