.banners {
    width: 100%;
    flex-direction: column;
    @include flexbox (flex, center, center);

    h3 {
        border: 2px solid rgb(156, 156, 156);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: rgb(76, 118, 155);
    }

    a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .ban {
        height: 100%;
        animation-name: aparecer;
        animation-duration: 1s;
        border: 2px dotted rgb(156, 156, 156);
        padding: 10px;
    }

    .ban-new2 {
        margin-bottom: 20px;
    }
}

@media (min-width:420px) and (max-width:1024px) {
    .banners {
        @include flexbox(grid, center, center);
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        justify-content: center;

        a{            
            border: 2px dotted rgb(156, 156, 156);
        }

        .ban {
            width: 100%;
            height: fit-content;
            align-self: center;
            border: 0;
        }

        &-titulo1,
        &-titulo2,
        &-link6 {
            grid-column: 1 / span 2;
        }
        .ban-past1{
            height: 60vh;
            width: auto;
        }
    }
}

@media (min-width:1024px) {
    .banners {
        @include flexbox(grid, center, center);
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;

        a{            
            border: 2px dotted rgb(156, 156, 156);
        }

        .ban {
            width: 100%;
            height: fit-content;
            align-self: center;
            border: 0;
        }

        &-titulo1,
        &-titulo2,
        &-link1, &-link7{
            grid-column: 1 / span 3;
        }

        .ban-new, .ban-new2{
            height: 50vh;
            width: fit-content;
        }

        &-link6 {
            grid-column: 3;
        }
    }
}